{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block body %}
    <div id="app">

    </div>
{% endblock %}